body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 16vw;
  text-align: center;
  font-weight: 600;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 50px 0;
}

header img {
  width: min(100%, 200px);
  border-radius: 1em;
}

header h1 {
  font-size: 1.5em;
  color: #4E5150;
  margin-top: 16px;
}

header h2 {
  font-size: .88em;
  color: #A9A9A9;
  margin-bottom: 16px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

ul li {
  padding: 15px 17px;
  background-color: #E5E5E5;
  border-radius: .75em;
}

ul li span {
  display: block;
}

ul li span:nth-child(1) {
  font-size: 1.125em;
  color: #4E5150;
  margin-bottom: 3px;
}

ul li span:nth-child(2) {
  font-size: .88em;
  color: #BDBDBD;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.34375vw;
}

.vertical {
  grid-row: span 2;
}

.horizontal {
  grid-column: span 2;
}

.gallery div {
  overflow: hidden;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 10px -7px rgba(195, 195, 195, 1);
}

.gallery div img {
  width: 100%;
  transition: .3s transform;
  transform: scale(1.05);
}

.gallery div:hover img {
  transform: scale(1.1);
}

footer {
  color: #B9BDCF;
  padding: 150px 0 24px;
}

footer a {
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  body { padding: 0 4vw; }
  header img { width: min(100%, 130px) }
  ul { gap: 13px; }
  ul li { padding: 10px 13px; }
  ul li span:nth-child(1), ul li span:nth-child(2) { font-size: .75em; }

  footer {
    font-size: .88em;
    padding: 60px 0 24px;
  }

  header {
    padding: 30px 0;
    gap: 4px;
  }

  header h1 {
    font-size: .88em;
    margin-top: 8px;
  }

  header h2 {
    font-size: .625em;
    margin-bottom: 8px;
  }

}
